.mainContainer {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box model */
  margin: 8rem 8rem 8rem 10rem;
}
.mainTitle {
  /* display */
  align-self: flex-start;
  /* box model*/
  margin-bottom: 3rem;
}
.mainContent {
  /* display */
  display: flex;
  justify-content: space-between;
  /* box model */
  width: 100%;
}
.form {
  /* display */
  display: flex;
  flex-direction: column;
  align-items: start;
  /* box model */
  width: 50%;
}
.cart {
  /* box model */
  width: 40%;
}
